@tailwind base;
@tailwind components;
@tailwind utilities;


 /* Css personalizado */
body {
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

/* Estilizar la barra de desplazamiento */
body::-webkit-scrollbar {
  width: 0px;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 768px) and (orientation: landscape) {
  /* Estilos específicos para dispositivos móviles en orientación horizontal */
  /* Ajusta el tamaño de fuente, el ancho de elementos, u otros estilos según sea necesario */
  body {
    font-size: 14px;
  }
}

.font-montserrat {
  /* Bold, medium y light */
  font-family: 'Montserrat', sans-serif;
}

.navbar-container {
  z-index: 50; /* Para que el NavBar no tape cosas */
}

